-- Enable pgcrypto for UUIDs and basic hashing
CREATE EXTENSION IF NOT EXISTS "pgcrypto";

-- Enum for User Roles (RBAC)
CREATE TYPE "public"."user_role" AS ENUM ('citizen', 'operator', 'admin', 'super_admin');

-- Users Table
CREATE TABLE public.users (
  id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
  phone VARCHAR(15) UNIQUE NOT NULL,
  email VARCHAR(255) UNIQUE,
  role user_role DEFAULT 'citizen'::user_role NOT NULL,
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
  updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- Active Sessions (Device Binding)
CREATE TABLE public.active_sessions (
  id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
  user_id UUID REFERENCES public.users(id) ON DELETE CASCADE,
  device_fingerprint TEXT NOT NULL,
  last_login TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- OTP Sessions (Temporary storage for auth flow)
CREATE TABLE public.otp_sessions (
  phone VARCHAR(15) PRIMARY KEY,
  otp_hash TEXT NOT NULL,
  expires_at TIMESTAMP WITH TIME ZONE NOT NULL,
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- Documents Metadata
CREATE TABLE public.documents (
  id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
  user_id UUID REFERENCES public.users(id) ON DELETE CASCADE,
  title TEXT NOT NULL,
  category TEXT NOT NULL,
  storage_path TEXT NOT NULL UNIQUE,
  original_mime TEXT NOT NULL,
  size_bytes BIGINT NOT NULL,
  status VARCHAR(50) DEFAULT 'PENDING' NOT NULL,
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
  updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- Family Members
CREATE TABLE public.family_members (
  id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
  primary_user_id UUID REFERENCES public.users(id) ON DELETE CASCADE,
  name TEXT NOT NULL,
  relation TEXT NOT NULL,
  dob DATE,
  is_minor BOOLEAN DEFAULT false,
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
  updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- Application Statuses
CREATE TABLE public.application_statuses (
  id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
  user_id UUID REFERENCES public.users(id) ON DELETE CASCADE,
  application_type TEXT NOT NULL,
  current_status VARCHAR(50) DEFAULT 'SUBMITTED' NOT NULL,
  operator_info JSONB,
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
  updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- Application Timeline History
CREATE TABLE public.status_history (
  id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
  application_id UUID REFERENCES public.application_statuses(id) ON DELETE CASCADE,
  status VARCHAR(50) NOT NULL,
  notes TEXT,
  timestamp TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- Audit Logs (CRITICAL for Government Apps)
CREATE TABLE public.audit_logs (
  id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
  action_type VARCHAR(100) NOT NULL,
  user_id UUID, -- Deliberately no hard FK constraint here to keep logs if user is deleted (depends on data spec)
  ip_address VARCHAR(45),
  user_agent TEXT,
  resource TEXT,
  status_code INT,
  request_fingerprint TEXT,
  timestamp TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- ROW LEVEL SECURITY (RLS) POLICIES
-- Goal: Ensure even if the Node.js middleware is bypassed (e.g. leaked Service Role aside), 
-- standard Supabase Anon/Auth keys cannot read cross-tenant data.

ALTER TABLE public.users ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.active_sessions ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.documents ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.family_members ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.application_statuses ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.status_history ENABLE ROW LEVEL SECURITY;

-- Note: In this architecture, ALL traffic comes from the Express API using the Service Role Key.
-- The Service Role Key bypasses RLS by design in Supabase. 
-- However, defining these is best practice if exposing the GraphQL/PostgREST API directly to clients in the future.

-- Example Policy (If frontend auth was used directly):
-- CREATE POLICY "Users can only see their own profile" ON public.users FOR SELECT USING (auth.uid() = id);
